<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title><%= title %> | CSE Motors</title>
</head>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/navigation') %>
    
    <main>
        <h1><%= title %></h1>
        <p class="error-message"><%= message %></p>
        <p><a href="/">Return to Home</a></p>
    </main>
    
    <%- include('../partials/footer') %>
</body>
</html>